<div class="container mt-5">
    <div class="row mb-5">
        <div class=col-sm-4></div>
        <div class="col-sm-4">
            <h1 style="text-align: center">Movie Reviews</h1>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center">Get the Whole Picture</h2>
                    <p class="card-body" style="text-align: center">Through the use of public APIs we gather pieces of information from multiple sources to provide you with key pieces of information about a movie</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center">Vote on Movies</h2>
                    <p class="card-body" style="text-align: center">We give you the ability to vote on movies and keep a record of the votes for each title. Check back soon and view our Top Rated movies as voted on by YOU, the user</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title" style="text-align: center">Search</h2>
                    <p class="card-body" style="text-align: center">Get started by searching for any movie title and we'll offer a list of results!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1 style="text-align: center">Search Movie Title:</h1>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <form action="/search">
        <div class="row mt-2">
          <div class="col-11">
            <input class="form-control mr-sm-2" type="search" name="title" placeholder="Search Title" aria-label="Search">
          </div>
          <div class="col-1">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </div>
        </div>
      </form>
</div>